{% spaceless %}
<html>
<head><title> {{service.name}} </title></head>
<style type="text/css">
   body {
    background-color: #000000;
    color: #FFFFE0;
   }
  </style>
<body>
<img src="http://www.affects-fp7.eu/rssfeeds/ace_ap_forecast_plot/ace_realtime_ap_CH_GFT_plot.png" alt="Can't get ACE realtime plot">
</body>
</html>
{% endspaceless %}
