{% spaceless %}
<html>
<head><title> {{service_name}} </title></head>
<style type="text/css">
   body {
    background-color: #000000;
    color: #FFFFE0;
   }
  </style>
<body>
<h1 style="margin: 4px 0px;"> SIDC presto messages </h1>
<p style="font-style: italic;margin: 4px 0px;">Issued: {{entry.pubDate}} </p>
<p> Product documentation at http://www.sidc.be/products/presto</p>
<p> {{entry.description}}</p>
</body>
</html>
{% endspaceless %}
