{% load friendly_date %}
{% spaceless %}
<html>

<head><title> {{service_name}} </title></head>
  <style type="text/css">
   body {
    background-color: #000000;
    color: #FFFFE0;
   }
   TABLE {
    border-collapse: collapse; 
    border: 1px solid #FFFAFA; 
   }
   TD, TH {
    padding: 5px; 
    border: 1px solid #FFFAFA; 
   }
   a {
    color: #87CEFA;
   }
   .select {
    font-weight: bold;
    text-transform:uppercase;
   }
   .subtitle {
    font-style: italic;
    margin: 4px 0px;
   }
  </style>
<body>
<h1 style="margin: 4px 0px;"> SIDC URSIgram </h1>
<p class="subtitle">3-day-forecast of solar and geomagnetic activity</p>
<p class="subtitle">Issued: {{entry.pubDate}} </p>
<p class="subtitle">SIDC forecast valid from {{entry.validity_interval.begin|frindly_datetime}} until {{entry.validity_interval.end|frindly_datetime}}</p>

<p><span class="select">Solar flares:</span> {{entry.solar_flare_prediction}}</p>
<p><span class="select">Geomagnetism:</span> {{entry.solar_geomagnetic_prediction}}</p>
<p><span class="select">Solar protons:</span> {{entry.solar_proton_prediction}}</p>
<p class="select">PREDICTIONS</p>
<table>
<tr> 
        <td>Date</td>  
        <td>10-cm flux</td>  
        <td>Ap</td> 
</tr>
{% for flux, ap in flux_and_ap_prediction %}
<tr>
        <td>{{flux.predicted_date|frindly_date}}</td>  
        <td>{{flux.flux_value}}</td>  
        <td>{{ap.value}}</td> 
</tr>
<!--Predictions for {{flux.predicted_date}} 10 cm flux: {{flux.flux_value}} / Ap: {{ap.value}}<br/> -->
{% endfor %}
</table>
<p><span class="select">COMMENTS</p>
<p align="justify"><span class="select">Solar activity info: </span>{{entry.solar_activity_info}}</p>
<p align="justify"><span class="select">Geomagnetic info:</span> {{entry.geomagnetic_info}}</p>
<p>Today's estimated International sunspot number (ISN): {{entry.estimated_international_sunspot_number.value}}, based on {{entry.estimated_international_sunspot_number.number_of_stations}} stations</p>
<p> </p>
<p><span class="select">Solar indices for </span><span style="font-weight: bold;">{{entry.solar_indices.date|frindly_date}}:</span> </p>
<p>Wolf number Catania:
{% if entry.solar_indices.catania_wolf_number %}
	{{entry.solar_indices.catania_wolf_number}}
{% else %}
	-
{% endif %}
<br/>
10-cm solar flux: {{entry.solar_indices.flux_10cm}}<br/>
Ak Chambon la Foret: {{entry.solar_indices.ak_chambon_la_foret}}<br/>
Ak Wingst: {{entry.solar_indices.ak_wingst}}<br/>
Estimated Ap: {{entry.solar_indices.estimated_ap}}<br/>
Estimated ISN: {{entry.solar_indices.estimated_international_sunspot_number.value}}, based on {{entry.solar_indices.estimated_international_sunspot_number.number_of_stations}} stations</p>


<p><span class="select">NOTICEABLE EVENTS SUMMARY</span></p>

{% if entry.noticeable_events.event %}
<table>
<tr> 
        <td>Day</td>  
        <td>Begin time</td> 
        <td>Peak time</td>  
        <td>End time</td>
        <td>Location</td>
        <td>X-ray</td> 
        <td>Optical</td>  
        <td>10-cm flux</td> 
        <td>Catania / NOAA</td>
	<td>Radio burst types</td>
</tr>
        {% for event in entry.noticeable_events.event %}
        <tr>
                <td>{{event.date|slice:"-2:"}}</td>               
                <td>{{event.begin_time|slice:"11:-3"}}</td>                 
                <td>{{event.peak_time|slice:"11:-3"}}</td>                 
                <td>{{event.end_time|slice:"11:-3"}}</td> 
                <td>{{event.location}}</td>                
                <td>{% if event.xray %}{{event.xray}}{% else %}-{% endif %}</td>                 
                <td>{% if event.optical %}{{event.optical}}{% else %}-{% endif %}</td>                 
                <td>{% if event.tencm %}{{event.tencm}}{% else %}-{% endif %}</td>
                <td>None / {{event.noaa_number}}</td>
		<td>{% if event.radio_burst_types %}{{event.radio_burst_types}}{% else %}-{% endif %}</td>                 
        </tr>
        {% endfor %}
</table>
{% else %}
<p>No noticeable events</p>
{% endif %}
<p>Report prepared by <a href="http://www.sidc.be"  target="_blank">Solar Influences Data analysis Center - RWC Belgium</a></p>
<p> Product documentation at <a href="http://www.sidc.be/products/meu"  target="_blank">http://www.sidc.be/products/meu</a></p>

</body>

</html>
{% endspaceless %}
